{{!-- Citation for the following: Add Position form --}}
{{!-- Date: 3/7/2022 --}}
{{!-- Adapted from: Node.js - Step 5 - Adding New Data --}}
{{!-- Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data --}}

<html>
<head>
<title>Positions</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<h1>SAUDI AMERICA</h1>

<nav>
    <a href="/">HOME</a> | <a href="/orders">ORDERS</a> | <a href="/securities">SECURITIES</a> | <a href="/security-codes">SECURITY CODES</a> | <a href="/security-codes-securities">SECURITY CODES SECURITIES</a> | <a href="/investors">INVESTORS</a> | <a href="/investor-types">INVESTOR TYPES</a> | <a href="/positions">POSITIONS</a>
</nav>
</html>

<h2>Positions</h2>

{{!-- Create a table --}}
<table border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>ID</th>
            <th>INVESTOR</th>
            <th>SECURITY</th>
            <th>UNITS</th>
            <th>INITIAL VALUE</th>
            <th>CURRENT VALUE</th>
            <th>GAIN / LOSS</th>
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr>
            <td align="middle">{{this.positionID}}</td>
            <td align="middle">{{this.investorname}}</td>
            <td align="middle">{{this.securityname}}</td>
            <td align="middle">{{this.units}}</td>
            <td align="right">{{this.initialValue}}</td>
            <td align="right">{{this.currentValue}}</td>
            <td align="right">{{this.gainLoss}}</td>
            <td><button onclick="window.location.href='/position-update?positionID={{this.positionID}}'">Update</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<p>

</p>
<h3>Add Position</h3>
<form id="add-position-form" method="POST" action="/add-position-form">
    <select name="input-investorname" id="input-investorname">
        <option value="">Investor</option>
        {{#each investors}}
        <option value="{{this.investorID}}">{{this.name}}</option>
        {{/each}}
    </select>
        <select name="input-securityname" id="input-securityname">
        <option value="">Security</option>
        {{#each securities}}
        <option value="{{this.securityID}}">{{this.name}}</option>
        {{/each}}
    </select>
    <input type="text" name="input-units" id="input-units" placeholder="Units">
    <input type="text" name="input-initialValue" id="input-initialValue" placeholder="Initial Value">
    <input type="text" name="input-currentValue" id="input-currentValue" placeholder="Current Value">
    <input type="text" name="input-gainLoss" id="input-gainLoss" placeholder="Gain/Loss">

    <div style="text-align:center">
        <input type="Submit"/>
    </div>
</form>
<p></p>
<p></p>
<p></p>

<h4>&copy 2024 Saudi America</h4>
